# dependencies
node_modules/

# build output
dist/
build/

# environment
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

venv/
__pycache__/
.vscode/
*.pyc

# files
extracted_exam*
